<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">My Classroom</h1>
 </div>

<div class="row">
    <a routerLink="/admin/classroom/{{data.id}}" *ngFor="let data of formClass" class="col-xl-3 col-md-6 mb-4" style="text-decoration: none;">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Form Class</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.name}}</div>
                </div>
                <div class="col-auto">
                <i class="fas fa-users-cog fa-2x text-gray-300"></i>
                </div>
            </div>
            </div>
        </div>
    </a>

    <a routerLink="/admin/classroom/{{data.class_room_id}}" *ngFor="let data of classList" class="col-xl-3 col-md-6 mb-4" style="text-decoration: none;">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{data.subject}}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.class_room}}</div>
                </div>
                <div class="col-auto">
                <i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
                </div>
            </div>
            </div>
        </div>
    </a>
</div>