<ng-template [ngIf]="Student">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Students Information</h1>
    <a routerLink="/admin/edit-student/{{Student.acconut_id}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> Edit</a>
</div>

<!-- Modal -->
<div class="modal fade" id="meritModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formData" (ngSubmit)="SaveBehavior()" >
            <div class="modal-body">
                <div class="form-group">
                    <select class="form-control" formControlName="conduct_id" id="conduct_id" >
                        <option *ngFor="let obj of ConductOptLst" value="{{obj.id}}" >{{obj.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" formControlName="comments" id="comments" placeholder="Enter comments for student..."></textarea>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="sysError" >System error, please contact the system admin</div>
                <div class="alert alert-warning" role="alert" *ngIf="submitted && formData.controls.comments.errors" >Comment Missing</div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Save</button>
            </div>
        </form>
      </div>
    </div>
</div>
<!--Confirmation box-->
<div class="modal fade bd-example-modal-sm" id="confirmbox" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this item?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-danger" (click)="deleteBehavior()" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div><label><b>Firstname:</b> {{Student.firstname}}</label></div>
                        <div><label><b>Middle Name:</b> {{Student.middlename}}</label></div>
                        <div><label><b>Lastname:</b> {{Student.lastname}}</label></div>
                        <div><label><b>Gender:</b> {{Student.gender}}</label></div>
                        <div><label><b>Email:</b> {{Student.email}}</label></div>
                        <div><label><b>Date of Birth:</b> {{Student.dob}}</label></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Contact Information</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div>{{Student.street}}</div>
                        <div>{{Student.city_town}}</div>
                        <div>{{Student.zip_code}}</div>
                        <div>{{Student.country_state.name}}</div>
                        <div>{{Student.country.name}}</div>
                        <div><b>Mobile Phone:</b> {{Student.phone_mobile}}</div>
                        <div><b>Home Phone:</b> {{Student.phone_home}}</div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">School Information</h6>
            </div>
            <div class="card-body">
                <div><b>School :</b> {{Student.account_school.name}}</div> 
                <div><b>Class Room :</b> {{Student.account_class.name}}</div>
                <div><b>Enrollment Date :</b> {{Student.enrollment_date}}</div>
                <div><b>House Color :</b> {{Student.housecolor.name}}</div>
                <p></p>
                <ul class="list-group" *ngIf="Student.extra_curricular_activity.length > 0" >
                    <li class="list-group-item"><b>Extra Curricular Activity</b></li>
                    <li *ngFor="let exObj of Student.extra_curricular_activity" class="list-group-item">{{exObj.name}}</li>
                </ul>
                <p></p>
                <ul class="list-group" *ngIf="Student.responsibilities.length > 0" >
                    <li class="list-group-item"><b>Responsibilities</b></li>
                    <li *ngFor="let resObj of Student.responsibilities" class="list-group-item">{{resObj.name}}</li>
                </ul>
                <p></p>
                <ul class="list-group" *ngIf="Student.citizenship.length > 0" >
                    <li class="list-group-item"><b>School Citizenship</b></li>
                    <li *ngFor="let citObj of Student.citizenship" class="list-group-item">{{citObj.name}}</li>
                </ul>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a href="#" class="float-right" data-toggle="modal" (click)="studentAction(3)" data-target="#meritModal"><i class="fas fa-plus"></i></a>
                <h6 class="m-0 font-weight-bold text-primary">Merits</h6>
            </div>
            <div class="card-body">      
                <div style="border-bottom: dashed 1px;" class="mb-1" *ngFor="let m of MeritList" >
                    <b>{{m.conduct.name}}</b> <small class="float-right"><b>{{m.date_added | date}}</b></small><br>
                    <div>{{m.comments}}</div>
                    <a href="#" class="float-right" (click)="setDeletKey(m.id)" data-toggle="modal" data-target="#confirmbox" data-whatever="@mdo"><i class="far fa-trash-alt"></i></a>               
                    <small><b>Teacher ID:</b> {{m.teacher_id}}</small>
                </div>        
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a href="#" class="float-right" data-toggle="modal" (click)="studentAction(2)" data-target="#meritModal"><i class="fas fa-plus"></i></a>
                <h6 class="m-0 font-weight-bold text-primary">Disiplinary Actions</h6>
            </div>
            <div class="card-body">   
                <div style="border-bottom: dashed 1px;" class="mb-1" *ngFor="let m of DisiplinaryList">        
                    <b>{{m.conduct.name}}</b> <small class="float-right"><b>{{m.date_added | date}}</b></small><br>
                    <div>{{m.comments}}</div>
                    <a href="#" class="float-right" (click)="setDeletKey(m.id)" data-toggle="modal" data-target="#confirmbox" data-whatever="@mdo"><i class="far fa-trash-alt"></i></a>
                    <small><b>Teacher ID:</b> {{m.teacher_id}}</small>
                </div>   
             </div>
        </div>
    </div>
</div>
</ng-template>