<ng-template [ngIf]="Students">
<form (ngSubmit)="onSubmit(Students)" >
    <div class="row">
        <div class="col-sm-6" *ngIf="Students" >
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="Students.firstname" name="firstname" id="firstname" >
            </div>
            <div class="form-group">
                <label for="middlename">Middle Name</label>
                <input type="text" class="form-control" [(ngModel)]="Students.middlename" name="middlename" id="middlename" >
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="Students.lastname" name="lastname" id="lastname" >
            </div> 
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" [(ngModel)]="Students.email" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="dob">Date Of Birth</label>
                <input type="date" class="form-control" [(ngModel)]="Students.dob" name="dob" id="dob" >
            </div>
            
            <div class="form-group">
                <label for="F" class="mr-3">
                    <input type="radio" [(ngModel)]="Students.gender" name="gender" id="F" value="F"> Female    
                </label> 
                <label for="M">
                    <input type="radio" [(ngModel)]="Students.gender" name="gender" id="M" value="M" > Male 
                </label>
            </div>          
        </div>

        <div class="col-sm-6" *ngIf="Students" >
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" [(ngModel)]="Students.street" name="street" id="street" >
            </div>
            <div class="form-group">
                <label for="city_town">City/Town</label>
                <input type="text" class="form-control" [(ngModel)]="Students.city_town" name="city_town" id="city_town" >
            </div>
            <div class="form-group">
                <label for="zip_code">Zip Code</label>
                <input type="text" class="form-control" [(ngModel)]="Students.zip_code" name="zip_code" id="zip_code" >
            </div>
            <div class="form-group">
                <label for="country_id">Country</label>
                <select class="form-control" [(ngModel)]="Students.country.id" name="country_id" id="country_id" (change)="getStateList($event.target.selectedIndex+1)" >
                    <option *ngFor="let country of countrylist" value="{{country.id}}">{{country.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="country_id">State/Parish</label>
                <select class="form-control" [(ngModel)]="Students.country_state.state_id" name="parish_id" id="parish_id" >
                    <option *ngFor="let state of statelist" value="{{state.state_id}}">{{state.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="phone_home">Home Phone</label>
                <input type="tel" class="form-control" [(ngModel)]="Students.phone_home" name="phone_home" id="phone_home" maxlength="15">
            </div>
            <div class="form-group">
                <label for="phone_mobile">Mobile Phone</label>
                <input type="tel" class="form-control" [(ngModel)]="Students.phone_mobile" name="phone_mobile" id="phone_mobile" maxlength="15" >
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group" *ngIf="classList">
                <label for="class_room_id">Class Room</label>
                <select class="form-control" [(ngModel)]="Students.account_class.id" name="class_room_id" id="class_room_id" >
                    <option *ngFor="let clss of classList"  value="{{clss.id}}" >{{clss.name}}</option>
                </select>
            </div>
            <div class="form-group">
                Extracurricular Activity
                <div class="form-check" *ngFor="let extObj of extraCurricular; let i = index">
                    <label class="form-check-label">
                        <input type="checkbox" 
                        [checked]="getExtracurricularState(extObj)" 
                        (change)="setExtracurricular($event.target.checked, extObj, i)"
                        class="form-check-input" value="{{extObj.id}}" >
                        {{extObj.name}}
                    </label>
                </div>
            </div> 
            <div class="form-group">
                Responsibilities
                <div class="form-check" *ngFor="let resObj of responsibilities; let i = index">
                    <label class="form-check-label" >
                        <input type="checkbox" 
                        [checked]="getResponsibilitiesState(resObj)" 
                        (change)="setResponsibilities($event.target.checked, resObj, i)"
                        class="form-check-input" value="{{resObj.id}}" >
                        {{resObj.name}}
                    </label>
                </div>
            </div>  
        </div>
        <div class="col-sm-6">
            <div class="form-group" *ngIf="houseColor">
                <label for="house_color_id">House-color</label>
                <select class="form-control" [(ngModel)]="Students.housecolor.id" name="id" id="id" >
                    <option *ngFor="let hc of houseColor" value="{{hc.id}}">{{hc.name}}</option>
                </select>
            </div>
            <div class="form-group">
                School Citizenship
                <div class="form-check" *ngFor="let citObj of schoolcitizenship; let i = index">
                    <label class="form-check-label" >
                        <input type="checkbox" 
                        [checked]="getSchoolCitizenshipState(citObj)" 
                        (change)="setSchoolCitizenship($event.target.checked, citObj, i)"
                        class="form-check-input" value="{{citObj.id}}" >
                        {{citObj.name}}
                    </label>
                </div>
            </div>  
        </div> 
    </div> 
    <div class="text-right">
        <button class="btn btn-primary mb-3">Submit</button>
    </div>
</form>
</ng-template>