<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Exams</h1>
 </div>

 <div class="row" >
    <ng-template [ngIf]="showContent">
        <a routerLink="/admin/manage-exam/{{data.id}}" *ngFor="let data of dataList" class="col-xl-3 col-md-6 mb-4" style="text-decoration: none;">
            <div class="card border-left-warning shadow h-100">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{data.exam_type.name}}</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.subject.name}}</div>
                    <hr>
                    <div class="text-xs text-primary text-uppercase mb-0">{{data.name}}</div>
                    </div>
                </div>
                </div>
            </div>
        </a>

        <ng-template [ngIf]="dataList.length==0">
            <div class="col-md-12">
                <div class="alert alert-warning text-center" role="alert">
                    You have no saved exams
                </div>
                <a routerLink="/admin/manage-exam/0" class="btn btn-primary d-flex justify-content-center">Create New Exam</a>
            </div>
        </ng-template>
    </ng-template>
 </div>