<ng-template [ngIf]="classList.length>0">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{classList[0].class_name}}</h1>
    </div>

    <div class="row">
        <a routerLink="/admin/view-student/{{data.account_id}}" *ngFor="let data of classList" class="col-xl-3 col-md-6 mb-4" style="text-decoration: none;">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{data.firstname}}</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.lastname}}</div>
                    </div>
                    <div class="col-auto">
                        <img class="rounded-circle" src="/assets/img/default_profile.png" width="50" alt="{{data.firstname}} {{data.lastname}}">
                    </div>
                </div>
                </div>
            </div>
        </a>
    </div>
</ng-template>
<ng-template [ngIf]="classList.length==0">
    <div class="col-md-12">
        <div class="alert alert-warning text-center" role="alert">
            This classroom is empty
        </div>
    </div>
</ng-template>